img {
height: 120px;
width: 120px;
margin-left: -5px;
margin-right: -5px;
}

#ruby, #topaz, #amber, #diamond{
    border-style: solid;
    border-color: plum;
    border-width: 5px;
    border-radius: 10px;
}

body{
    background-image: url(https://ak7.picdn.net/shutterstock/videos/8806687/thumb/1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 125%;
    
    background-color: lightyellow;
}
h1{
    color: palevioletred;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: green;
}
#number{
    font-weight: bold;
    font-style: oblique;
    font-family: serif;
    font-size: 40px;
}
h2{
    color: teal;
    font-family: serif;
}

p{
    font-weight: bold;
    color: #9966ff;
    font-style: italic;
    font-size: 30px;
}
#totalscore{
    font-weight: bold;
    font-style: italic;
    color: #8e256b;
    font-size: 30px;
}