img {
height: 120px;
width: 120px;
margin-left: -5px;
margin-right: -5px;
}

#ruby, #topaz, #amber, #diamond{
    border-style: solid;
    border-color: plum;
    border-width: 5px;
    border-radius: 10px;
}

body{
    background-image: url(https://ak7.picdn.net/shutterstock/videos/8806687/thumb/1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 125%;
    
    
}
h1{
    color: #408000;
    font-style: italic;
    font-family: serif;
    font-weight: bold;
    
}
#number{
    font-weight: bold;
    font-style: oblique;
    font-family: serif;
    font-size: 40px;
}
h2{
    color: teal;
    font-family: serif;
    font-weight: 600;
}

p{
    font-weight: bold;
    color: #5900b3;
    font-style: italic;
    font-size: 30px;
}
#totalscore{
    font-weight: bold;
    font-style: italic;
    color: #8e256b;
    font-size: 30px;
}

#resetbtn{
    background:#ff66ff;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}